<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBusinessSearch"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ReservationsPage"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/RedActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCDE_oRF-TTJjitNUHaBpHgwdEoa_RyqV8" />

        <activity
            android:name=".DetailTabs"
            android:exported="true"
            android:label="@string/title_activity_detail_tabs"
            android:parentActivityName=".MainActivity"
            android:theme="@style/RedActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidbusinesssearch.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".YelpSplashScreen"
            android:exported="true"
            >

            <!-- android:theme="@style/YelpSplashScreen" -->
            <!-- Uncomment this after testing your tabs -->
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>